Repository ivanhofer/sthemer: changes, and which lint-staged commands are due for each by the changed paths.
All: http://json.schemastore.org/lintstagedrc.schema, npm run prettier:fix:base, npm run eslint:fix:base

run tests before push
  .husky/pre-push
  package.json
Due: none

add GitHub release action
  .github/workflows/release.yaml
Due: none

fix lint scripts
  .lintstagedrc.json
  package.json
Due: none

ci: version bump to 0.0.2
  package.json
Due: none

setup issue templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

ci: version bump to 0.0.3
  package.json
Due: none

package before publish
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/release.yaml
Due: none

ci: version bump to 0.0.4
  package.json
Due: none

feat: implement functionality
  src/lib/Sthemer.svelte
  src/lib/sthemer.context.ts
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.1.0
  package.json
Due: none

add words to cSpell
  .vscode/settings.json
Due: none

feat: add hooks functions to handle SSR requests
  src/hooks.ts
  src/lib/sthemer.hooks.ts
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.2.0
  package.json
Due: none

feat: add scss mixins
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/lib/sthemer.scss
  svelte.config.js
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.3.0
  package.json
Due: none

feat: expose component as default export
  src/lib/index.ts
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.4.0
  package.json
Due: none

feat: rename exported files
  src/hooks.ts
  src/lib/Sthemer.svelte
  src/lib/context.ts
  src/lib/hooks.ts
  src/lib/mixins.scss
  svelte.config.js
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.5.0
  package.json
Due: none

add support for `less` and `sass`
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/lib/mixins.less
  svelte.config.js
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.5.1
  package.json
Due: none

feat: add support for `less` and `sass`
  svelte.config.js
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.6.0
  package.json
Due: none

feat: document basic `sthemer` usage
  .eslintrc.cjs
  .lintstagedrc.json
  README.md
Due: none

ci: version bump to 0.7.0
  package.json
Due: none

inline fixes
  README.md
Due: none

ci: version bump to 0.7.1
  package.json
Due: none

inset fixes
  .prettierrc
  README.md
Due: none

ci: version bump to 0.7.2
  package.json
Due: none

chore: add simple wrapper for website
  .prettierignore
  src/app.html
  src/routes/__layout.svelte
  src/routes/index.svelte
  src/styles/reset.scss
  static/favicon.ico
  static/favicon.png
  static/launchericon-144-144.png
  static/launchericon-192-192.png
  static/launchericon-48-48.png
  static/launchericon-512-512.png
  static/launchericon-72-72.png
  static/manifest.json
  static/robots.txt
Due: npm run prettier:fix:base, npm run eslint:fix:base

configure vercel adapter
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.7.3
  package.json
Due: none

feat: use derived stores to simlify implementation
  src/lib/Sthemer.svelte
  src/lib/context.ts
  src/lib/index.ts
Due: npm run prettier:fix:base, npm run eslint:fix:base

ci: version bump to 0.8.0
  package.json
Due: none

add Header and StrategySelection components
  src/components/Header.svelte
  src/components/StrategySelection.svelte
  src/routes/__layout.svelte
  src/styles/variables.scss
  svelte.config.js
  tsconfig.json
Due: npm run prettier:fix:base, npm run eslint:fix:base

update dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactoring example page
  src/components/Header.svelte
  src/routes/__layout.svelte
  src/routes/index.svelte
  src/styles/global.scss
  svelte.config.js
  tsconfig.json
Due: npm run prettier:fix:base, npm run eslint:fix:base

extend readme
  README.md
Due: none

ci: version bump to 0.8.1
  package.json
Due: none

limit nesting to 100 levels
  src/lib/mixins.scss
Due: npm run prettier:fix:base

Path conditions:
  http://json.schemastore.org/lintstagedrc.schema: any of: $schema
  npm run prettier:fix:base: ((any of: *.{js,ts,d.ts}) or (any of: *.scss)) or (any of: *.svelte)
  npm run eslint:fix:base: (any of: *.{js,ts,d.ts}) or (any of: *.svelte)
